$color_1: #fff;
$font-family_1: "cursive";

.box {
  display: flex;
  flex-direction: column;
  background: rgb(228, 185, 174);
  width: 100%;
  flex-wrap: wrap;
  margin-top: 2%;
}
.logo-footer {
  display: inline-block;
  min-width: 400px;
}
.container1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 100px;
}
.column {
  display: flex;
  min-width: 200px;
  flex-direction: column;
  text-align: left;
  max-width: 250px;
  position: relative;
  height: 230px;
}
.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fill, minmax(185px, 1fr));
  grid-gap: 50px;
  margin-bottom: 3%;
  margin-left: -60px;
}
.heading {
  font-size: 40px;
  color: $color_1;
  margin-bottom: 40px;
  font-weight: bold;
  font-family: $font-family_1;
}
@media screen and (max-width: 1500px) {
  .logo-footer {
    min-width: 200px;
  }
}
@media screen and (max-width: 1000px) {
  .row {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
