.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #00000099;
	overflow: auto;
}

.modal-main {
	position: fixed;
	background: white;
	width: 35rem;
	height: auto;
	max-height: 750px;
	overflow-y: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 5px;
	z-index: 2;
}

.modal.display-block {
	display: block;
}

.close-modal {
	align-self: flex-end;
	border-width: 0px;
	border-radius: 0px;
	background-color: white;
	color: black;
	padding: 3px 3px;
	margin-right: 3px;
	margin-top: 3px;
}

.close-modal:hover {
	transition: all 0.3s ease-out;
	background: #fff;
	color: rgb(180, 112, 8);
	cursor: pointer;
}