$color_primary: white;
$color_secondary: blue;

.app-bar {
  background-color: $color_secondary;

  .caption {
    text-decoration: none;
    color: $color_primary;
    font-size: 28px;
  }

  .nav-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .menu-button {
      size:large;

      .button-username{
        margin-left: -20px;
      }
      
    }
  }
}
