$background-color_primary: rgb(206, 176, 132);
$background-color_secondary: #fff;
$color_primary: red;
$color_secondary: rgb(50, 65, 94);

.bg-login-color {
    background-color: $background-color_primary;
    position: absolute;
    top: 55px;
    left: 0;
    right: 0;
    bottom: 0;
}

.div-wrapper {
    background-color: $background-color_secondary;
    width: 50%;
    padding: 20px 30px 30px;
    border-radius: 20px;
    margin: 100px auto;
}

.wrapper-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.total-price {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 93%;
    justify-content: space-between;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 30px;
    font-weight: bolder;
    color: $color_secondary;
}